body{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

h1{
  margin: 0 0 20px 0;
}

.board{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button{
  margin-left: 2px;
  margin-right: 2px;
  width: 40px;
  height: 40px;

  border: solid 1px rgb(116, 116, 116);
  transition: all ease-in 0.05s;
}

.button:active{
  transform: scale(0.9);
}

.board-row{
  display: flex;
  align-items: center;
  height: auto;
  margin-top: 2px;
  background-color: papayawhip;
}

.game{
  display: flex;
  align-items: center;

  gap: 20px;
}

.game__info{
  display: flex;
  flex-direction: column;
}

ol{
  list-style: none;
}

.winner-button{
  background-color: palegreen;
}